html, body {
	height: 99%;
	background-color: #333333;
	background-image:url('../images/background.png');
	background-repeat: repeat;	
	overflow: hidden;
	max-width: 1440px;
}
#wrap {
	min-height: 100%;
}

#logo {
	float: left;
	vertical-align: middle;
}
.graficoContent {
	margin-left: 5%;
	background-color: #555555;
	overflow: hidden;
	padding-bottom: 150px; /* must be same height as the footer */
	position: fixed;
	height: 50%;
	top: 21%;
	width: 90%;
	text-align: center;
	/*display:none;*/
	opacity: 0;
}
#footer {
	width: 90%;
	margin-left: 5%;
	background-color: #555555;
	position: fixed;
	margin-top: -2%; /* negative value of footer height */
	height: 4%;
	clear: both;
	text-align: center;
}
#header {
	width: 90%;
	margin-left: 5%;
	height: 15%;
	margin-top: 1%;
	position: fixed; /*--Fix the sidenav to stay in one spot--*/
	float: top; /*--Keeps sidenav into place when Fixed positioning fails--*/
	background-color: #555555;
	text-align: center;
}
/*Opera Fix*/
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}