a {
	color: #999999;
}
.container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.maintitle {
	color: #EDC951;
	font-size: 50px;
}
.subtitle {
	color: #00A0B0;
	font-size: 40px;
	border-bottom: 1px solid #444444;
}
.subsubtitle {
	color: #CC333F;
	font-size: 20px;
}
.donut {
	width: 50%;
	position: relative;
	float: left;
}
#timeline {
	height: 200px;
}
#distribution {
	height: 500px;
	margin-bottom: 100px;
}
.bar {
	fill: #000000;
}
.axis path, .axis line {
	fill: none;
	stroke: #60d502;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: 'Gilda Display', serif;
	fill: #60d502;
}
.bartext {
	fill: #EDC951;
	text-anchor: middle;
	font-size: 12px;
}
.arc path {

}
.radios {
	width: 33%;
	position: relative;
	float: left;
}
.popup {
	visibility: hidden;
	border: 1px solid #666666;
	position: absolute;
	background-color: #323232;
	color: #EDC951;
	padding: 10px;
	z-index: 10;
	opacity: 0.9;
}
.thumb {
	height: 200px;
	width: 200px;
	background-color: #333333;
	text-align: left;
}
.popdetails {
	width: 200px;
}
.poptitle, .popdetail {
	font-size: 15px;
	position: relative;
	float: left;
	text-align: left;
}
.poptitle {
	width: 100px;
	color: #00A0B0;
}
.popdetail {
	width: 200px;
}
.footer {
	padding-top: 40px;
}